.anchor_filter_navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  left: -10%;
}
.anchor_navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  color: #e33335;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  justify-content: center;
}

.anchor_navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.li_trend {
  margin-left: 2em;
}
.anchor_navbar ul a {
  margin-left: 1em;
  text-decoration: none;
  color: #e33335;
  font-size: 0.7em;
}

.logo_titre_navbar {
  width: 20%;
}
.image_navbar_logo {
  margin-left: 5%;
  width: 80px;
}

.search_logo {
  width: 25px;
}

.home_logo_mobile {
  width: 50px;
  position: absolute;
  left: 7%;
  top: 18%;
}

button {
  background-color: #eff0f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.button_search {
  width: 50%;
}

.search_name_result {
  padding-top: 10%;
}
.navbar {
  display: none;
}
.logo_burgermenu {
  width: 150px;
  position: absolute;
  left: 33%;
  top: 11%;
}
.navbar_top {
  display: flex;
  margin-top: 0px;
  background-color: #eff0f6;
  padding-bottom: 30%;
  margin-bottom: 20%;
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.8;
}

.search_menuburger {
  position: fixed;
  top: 30px;
  left: 87%;
  display: flex;
  flex-direction: column;
}
.hamburger {
  display: flex;
  justify-content: space-between;
}
.navbar_mobile {
  background-color: #eff0f6;
  z-index: 99;
}
//      DESKTOP VERSION
@media screen and (min-width: 990px) {
  .anchor_navbar ul {
    justify-content: space-around;
    margin-left: 5%;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1%;
    background-color: #eff0f6;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    padding-top: 1%;
    top: 0;
  }
  .home_logo {
    width: 32px;
  }
  .anchor_navbar ul a {
    font-size: 1.5em;
  }
  .image_navbar_logo {
    width: 140px;
  }

  .search_logo {
    margin-left: 1em;
  }
  .search_navbar {
    margin-left: 3em;
    position: absolute;
    left: 50%;
    right: 30%;
  }
  .menu {
    display: none;
  }
  .logo_burgermenu {
    display: none;
  }
  .mobile_search_bar {
    display: none;
  }
  .search_menuburger {
    display: none;
  }
  .navbar_top {
    margin-bottom: 5%;
    background-color: #eff0f6;
    position: none;
    padding-bottom: 0;
    opacity: 1;
  }
  .home_logo_mobile {
    display: none;
  }
}
